<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>2016-04-02-jobs-to-grads.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>509245266.59441799</real>
				<key>version</key>
				<dict>
					<key>af6e6449ed6f0cf20393294e06675e50232f8a74ee9936709a0844fc006d85b3</key>
					<integer>19</integer>
				</dict>
			</dict>
			<key>2016-08-07-start.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>509245266.58446503</real>
				<key>version</key>
				<dict>
					<key>af6e6449ed6f0cf20393294e06675e50232f8a74ee9936709a0844fc006d85b3</key>
					<integer>13</integer>
				</dict>
			</dict>
			<key>2016-08-07-think-try-write.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>509245266.57039303</real>
				<key>version</key>
				<dict>
					<key>af6e6449ed6f0cf20393294e06675e50232f8a74ee9936709a0844fc006d85b3</key>
					<integer>12</integer>
				</dict>
			</dict>
			<key>2016-08-07-xqszj1.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>509245266.586833</real>
				<key>version</key>
				<dict>
					<key>af6e6449ed6f0cf20393294e06675e50232f8a74ee9936709a0844fc006d85b3</key>
					<integer>14</integer>
				</dict>
			</dict>
			<key>2016-08-08-xqszj2.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>509245266.58820802</real>
				<key>version</key>
				<dict>
					<key>af6e6449ed6f0cf20393294e06675e50232f8a74ee9936709a0844fc006d85b3</key>
					<integer>15</integer>
				</dict>
			</dict>
			<key>2016-08-09-xqszj3.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>509245266.59072697</real>
				<key>version</key>
				<dict>
					<key>af6e6449ed6f0cf20393294e06675e50232f8a74ee9936709a0844fc006d85b3</key>
					<integer>16</integer>
				</dict>
			</dict>
			<key>2016-08-10-xqszj4.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>509245266.59198999</real>
				<key>version</key>
				<dict>
					<key>af6e6449ed6f0cf20393294e06675e50232f8a74ee9936709a0844fc006d85b3</key>
					<integer>17</integer>
				</dict>
			</dict>
			<key>2016-08-10-xqszj5.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>509245266.59295601</real>
				<key>version</key>
				<dict>
					<key>af6e6449ed6f0cf20393294e06675e50232f8a74ee9936709a0844fc006d85b3</key>
					<integer>18</integer>
				</dict>
			</dict>
			<key>2016-08-29-gerenxitong.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>509245266.542799</real>
				<key>version</key>
				<dict>
					<key>af6e6449ed6f0cf20393294e06675e50232f8a74ee9936709a0844fc006d85b3</key>
					<integer>11</integer>
				</dict>
			</dict>
			<key>2017-02-19-nianjihua.md</key>
			<dict>
				<key>lastModification</key>
				<real>509245266.59651399</real>
				<key>version</key>
				<dict>
					<key>af6e6449ed6f0cf20393294e06675e50232f8a74ee9936709a0844fc006d85b3</key>
					<integer>20</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2016-04-02-jobs-to-grads.markdown</string>
		</array>
		<array>
			<string>2016-08-10-xqszj5.markdown</string>
		</array>
		<array>
			<string>2017-02-19-nianjihua.md</string>
		</array>
		<array>
			<string>2016-08-10-xqszj4.markdown</string>
		</array>
		<array>
			<string>2016-08-09-xqszj3.markdown</string>
		</array>
		<array>
			<string>2016-08-08-xqszj2.markdown</string>
		</array>
		<array>
			<string>2016-08-07-xqszj1.markdown</string>
		</array>
		<array>
			<string>2016-08-07-think-try-write.markdown</string>
		</array>
		<array>
			<string>2016-08-07-start.markdown</string>
		</array>
		<array>
			<string>2016-08-29-gerenxitong.markdown</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>af6e6449ed6f0cf20393294e06675e50232f8a74ee9936709a0844fc006d85b3</key>
			<integer>29</integer>
		</dict>
	</dict>
</dict>
</plist>
